.header {
  width: 100%;
  display: inline-flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 300px;
  background-color: #f0f0f0;

  .actionBtn {
    padding: 15px;

    &:hover {
      cursor: pointer;
    }
  }
}